/* iPhone6 以下隐藏 */
@media (max-width: 359px) {
    .hidden-xxs {
        display: none;
    }
}

/* iPhone6+ 以下隐藏 */
@media (max-width: 398px) {
    .hidden-xxm {
        display: none;
    }
}

/* 小设备 */
@media (max-width: 767px) {
    body {
        padding: 60px 4px 10px 4px;
    }
}

/* 大设备 */
@media (min-width: 768px) {
    body {
        padding: 60px 9px 40px 9px;
    }
}

/* 导航栏 */
.navbar-header .float-right {
    position: absolute;
    right: 60px;
}

/* Table */
table.table {
    table-layout: fixed;
}

table.table > caption > span {
    margin-right: 10px;
}

table.table > caption > span > b {
    color: black;
}
