/* iPhone6 以下隐藏 */
@media (max-width: 359px) {
    .hidden-xxs {
        display: none;
    }
}

/* iPhone6+ 以下隐藏 */
@media (max-width: 398px) {
    .hidden-xxm {
        display: none;
    }
}

/* 小设备 */
@media (max-width: 767px) {
    body {
        padding: 60px 4px 10px 4px;
    }
}

/* 大设备 */
@media (min-width: 768px) {
    body {
        padding: 60px 9px 40px 9px;
    }
}

/* 导航栏 */
.navbar-header .float-right {
    position: absolute;
    right: 60px;
}

#refresh {
    margin-right: 5px;
}

/* Form */
div.textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
}

.button-group button {
    margin-right: 10px;
}

/* Other */
.transparent {
    color: transparent;
}
