<style>
    table.table {
        table-layout: fixed;
    }

    table.table > caption > span {
        margin-right: 10px;
    }

    table.table > caption > span > b {
        color: black;
    }

    th.index {
        width: 40px;
    }

    td.index span {
        color: transparent;
    }

    th.rank {
        width: 90px;
    }

    th.cupt {
        width: 85px;
    }

    th.title {
        min-width: 200px;
    }
</style>
{{#tables}}
<table class="table table-bordered table-striped" id="{{key}}">
    <caption>
        <span><b>{{title}}</b></span>
        <span><span class="hidden-xxs">上次更新</span> 1小时 22分前</span>
    </caption>
    <thead>
    <tr>
        <th class="index">ID</th>
        <th class="rank">当前/前回</th>
        <th class="cupt hidden-xxs">累积PT</th>
        <th class="title">碟片标题</th>
    </tr>
    </thead>
    <tbody>
    {{#discs}}
    <tr>
        <td class="index">{{index}}<span>)</span></td>
        <td class="rank {{rank_clazz}}">{{{rank}}}</td>
        <td class="cupt hidden-xxs">{{cupt}} pt</td>
        <td class="title">{{title}}</td>
    </tr>
    {{/discs}}
    </tbody>
</table>
{{/tables}}
