<style>
    table.table {
        table-layout: fixed;
    }

    table.table > caption > span {
        margin-right: 10px;
    }

    table.table > caption > span > b {
        color: black;
    }

    th.index {
        width: 50px;
    }

    th.rank {
        width: 90px;
    }

    th.cupt {
        width: 70px;
    }

    th.tdpt {
        width: 70px;
    }

    th.title {
        min-width: 200px;
    }
</style>
{{#tables}}
<table class="table table-bordered table-striped" id="{{key}}">
    <caption>
        <span><b>{{title}}</b></span>
        <span><span class="hidden-xx">上次更新</span> 1小时 22分前</span>
    </caption>
    <thead>
    <tr>
        <th class="index">序号</th>
        <th class="rank">排名</th>
        <th class="cupt hidden-xx1">累积PT</th>
        <th class="tdpt hidden-xx2">日增PT</th>
        <th class="title">碟片标题</th>
    </tr>
    </thead>
    <tbody>
    {{#discs}}
    <tr>
        <td class="index">{{index}}</td>
        <td class="rank">{{{rank}}}</td>
        <td class="cupt hidden-xx1">累积:<br>{{cupt}}</td>
        <td class="tdpt hidden-xx2">日增:<br>{{tdpt}}</td>
        <td class="title">{{title}}</td>
    </tr>
    {{/discs}}
    </tbody>
</table>
{{/tables}}
