<style>
    table.table > thead > tr > th.index {
        width: 32px;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }

    table.table > thead > tr > th.rank {
        width: 90px;
    }

    table.table > thead > tr > th.cupt {
        width: 81px;
    }

    table.table > thead > tr > th.title {

    }

    table.table > tbody > tr > td {
        padding-left: 6px;
        padding-right: 1px;
    }

    table.table > tbody > tr > td.index {
        padding-right: 3px;
        text-align: center;
    }

    table.table > tbody > tr > td.index span {
        color: transparent;
    }
</style>
{{#tables}}
<table class="table table-bordered table-striped" id="{{key}}">
    <caption>
        <span><b>{{title}}</b></span>
        <span><span class="hidden-xxs">上次更新</span> 1小时 22分前</span>
    </caption>
    <thead>
    <tr>
        <th class="index hidden-xxm">ID</th>
        <th class="rank">当前/前回</th>
        <th class="cupt hidden-xxs">累积PT</th>
        <th class="title">碟片标题</th>
    </tr>
    </thead>
    <tbody>
    {{#discs}}
    <tr>
        <td class="index hidden-xxm">{{index}}<span>)</span></td>
        <td class="rank {{rank_clazz}}">{{{rank}}}</td>
        <td class="cupt hidden-xxs">{{cupt}} pt</td>
        <td class="title">{{title}}</td>
    </tr>
    {{/discs}}
    </tbody>
</table>
{{/tables}}
